[include]
  path = ~/.gitconfig.d/pairs

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  st = status
  di = diff
  dc = diff --cached
  co = checkout
  ci = commit
  cm = commit -m
  b = branch
  pr = pull --rebase
  rc = rebase --continue
  unstage = reset HEAD --

[color "status"]
  added = green
  changed = red

[core]
  legacyheaders = false
  autocrlf = input
  safecrlf = false

[interactive]
  singlekey = true

[push]
  default = tracking

[rebase]
  autosquash = true
	stat = true
[branch]
	autosetuprebase = always
[include]
  path = ~/.personal_gitconfig
[credential]
	helper = osxkeychain
[http]
	sslVerify = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
